
.hero {
    background-color: #ffffff;
    padding: 20px;
    flex: 1;
}
  
.left-section {
  width: 70%;
  float: left;
}

.right-section {
  width: 30%; 
  float: right;
  text-align: right; 
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
}

  .search {
    display: flex;
    align-items: center;
  }
  
  .search-input {
    padding: 8px;
    width: 70%;
    background-color: #ffffff;
    color: #ffffff;
    border: 1px solid #ddd;;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: 600;
    transition: background-color 0.3s ease;
    color: black;
    margin-right: 10px;
  }

  .search-input:hover {
    background-color: #ffffff;
  }
  
  .search-button {
    padding: 8px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  
  .filters {
    margin-top: 20px;
  }
  
  .filter-button {
    display: flex;
    align-items: center;
    background-color: #F6F8FA;
    color: #ffffff;
    border: 1px solid #ddd;;
    border-radius: 6px;
    padding: 6px 12px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: #6a737d;
    margin-left: 10px;
  }

  .filter-button:hover {
    background-color: #e1e4e7;
  }

  .black-text {
    color: black;
    margin-left: 5px;
  }
  
  .filter-button svg {
    margin-left: 10px;
  }

  .filter-button svg {
    fill: #6a737d;
    width: 20px;
    height: 20px;
    margin-left: 5px;
    transition: fill 0.3s ease;
  }

  
  .repositories {
    margin-top: 20px;
    margin-left: -10px;
  }

  .link-repositories {
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-bottom: 1px solid #ddd ;
  }
  
  .group-repositories {
    list-style: none;
    padding: 0;
    display: flex;
    flex-direction: column;
  }

  .star-button {
    width: 90px;
    display: flex;
    text-align: center;
    background-color: #F6F8FA;
    color: #ffffff;
    border: 1px solid #ddd;;
    border-radius: 6px;
    padding: 6px;
    font-weight: 600;
    cursor: pointer;
    transition: background-color 0.3s ease;
    color: black;
  }

  .star-button:hover{
    background-color: #e1e4e7;

  }

  .star-icon {
    width: 20px;
    margin: 3px 5px;
    color: #6a737d;
  }

  .repo-name {
    padding-bottom: 10px;
  }

  .repo-info {
  font-size: 16px;
  margin-top: 10px;
  color: #586069;
}

.repo-info p {
  margin: 5px 0;
}

.repo-info .repo-name {
  font-size: 24px;
  font-weight: 600;
  color: #0366d6;
}

.repo-info .repo-language::before {
  font-weight: bold;
}

.repo-info .repo-language {
  color: #586069;
}

.repo-info .repo-branche::before {
  content: "Branches: ";
  font-weight: bold;
}

.repo-info .repo-update::before {
  font-weight: bold;
}

.repo-info .repo-url::before {
  font-weight: bold;
  word-break: break-all;
  color: #0366d6;
}

.repo-info .repo-stars::before {
  font-weight: bold;
}

.repo-info-line > .repo-language,
.repo-info-line > .repo-stars,
.repo-info-line > .repo-branch,
.repo-info-line > .repo-update {
  margin-right: 15px; 
}

.repo-stars {
  display: flex;
  align-items: center;
}

.repo-info .repo-homepage::before {
  content: "Homepage: ";
  font-weight: bold;
  word-break: break-all;
  color: #0366d6;
}

.repo-info .repo-forks::before {
  content: "Forks: ";
  font-weight: bold;
}



.repo-info .repo-description::before {
  font-weight: bold;
}

.repositories-separator {
  content: "";
  border-top: 1px solid #e1e4e8; 
  margin-top: 16px;
  display: block;
}

.repo-info-line {
  display: flex;
  align-items: center;
}

.repo-language {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #6a737d;
}

.repo-branch,
.repo-update {
  margin-right: 10px;
  display: flex;
  align-items: center;
  color: #6a737d;
}

.language-icon {
  width: 12px; 
  height: 12px; 
  border-radius: 50%; 
  display: inline-block;
  margin-right: 5px;
}

.icon-branch {
  margin-right: 5px;
}

.repo-details {
  float: left;
  width: 70%;
  padding: 10px;
  box-sizing: border-box;
}

.chart-and-star {
  float: right;
  width: 30%;
}

.bold-text {
  font-weight: bold;
}

.filter-info {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.clear-filter-button {
  background-color: #F6F8FA;
  color: #ffffff;
  border: 1px solid #ddd;
  border-radius: 6px;
  padding: 6px;
  font-weight: 400;
  cursor: pointer;
  transition: background-color 0.3s ease;
  color: black;
  display: flex;
  align-items: center;
  justify-content: space-between;
}



